.App {
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 0 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.button {
  padding: 10px 15px;
  border: 1px solid #222;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}
  


